:root{
  --header-height: 70px;
}

body{
  padding-top: var(--header-height);
}

.page-header {  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: rgba(0, 255, 255, 0.5);
  outline: 1px solid black;
}

/* p {
  user-select: none;
} */
