.menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 600px;

  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

.menu-item {
  position: relative;;
  outline: 1px solid tomato;
}

.menu-item:hover .submenu{
  display: block;
  /* opacity: 1; */
}
.menu-link {
 display: block;
 background-color: teal;
 color: white;
 padding: 15px;
 border-radius: 5px;
 border: 2px solid black;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  /* right: 0; */
  width: 100%;
  list-style: none;
  
  margin: 0;
  padding: 10px;

  background-color: aquamarine;
  

  display: none;
  /* opacity: 0; */
  pointer-events: none;
}

.submenu a {
  color: black;
}



.box{
  width: 400px;
  border: 5px solid red;
}

.box:hover{
  border-radius: 30%;
  overflow: hidden;
}