:root{
    --primary-text-color:#212121;
    --secondary-text-color: #757575;
    --logo-color: #000;
    --accent-color: #2196F3;
    --background-color: #fff;
    --hero-background-color:#2F303A;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}


body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
    background-color: var(--background-color);
}

a{
    text-decoration: none;
}

ul,
p,
h1,
h2,
h3,
li{
    list-style: none;
    padding: 0;
    margin: 0;

}
/* загальні стилі */

.section{
    /* outline: solid 3px green; */

    padding-top: 94px;
    padding-bottom: 94px;
}

.container{
    /* outline: solid 3px red; */

    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section-title{   
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    margin-bottom: 50px;
}
/* header */

.container.header{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 24px;
    padding-bottom: 25px;
}

.header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    color: var(--accent-color);
}

.logo > span{
    color: var(--logo-color);
}

.nav-list{
    display: flex;

    margin-left: 93px;
}

.nav-item:not(:first-child),
.contacts-item:not(:first-child){
    margin-left: 50px;
}

/* .nav-item:nth-child(n+2),
   .contacts-item:nth-child(n+2){
    margin-left: 50px;
} */

/* .nav-item + .nav-item,
    .contscts-item + .contacts-item{
    margin-left: 50px;
} */


.contacts-list{
    display: flex; 
    
    margin-left: auto;
}


.nav-link,
.contacts-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.nav-link{
    color: var(--primary-text-color);

    padding-top: 32px;
    padding-bottom: 32px;
}

.contacts-link{
    color: var(--secondary-text-color);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus{
    color: var(--accent-color);
}

/* Герой */
.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--hero-background-color);
}

.hero .container{
    text-align: center;
}

h1{
    width: 696px;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--background-color);
}

.hero-button{
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    padding: 10px 32px;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;    

    color: var(--background-color);
    background-color: var(--accent-color);
}

/* Переваги */

.advantages{
    display: flex;
    justify-content: space-between;
}

.advantages .item{
    width: 270px;
}
.advantages .title,
.advantages .text{
    font-size: 14px;
    line-height: 16px;
}
.advantages .title{
    font-weight: 700;    
    text-transform: uppercase;

    margin-bottom: 10px;
}

.advantages .text{
    font-weight: 400;

    color: var(--secondary-text-color);
}
/* Чим ми займаємось */

.what-we-do{
    display: flex;
    justify-content: space-between;    
}

.what-we-do img{
    width: 370px;
}
/* Наша команда */

.section.our-team{
    background: #F5F4FA;
}

.team-list{
    display: flex;
    justify-content: space-between;
}

.team-list .img{
    margin-bottom: 30px;
}

.team-list .item{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.name{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    margin-bottom: 10px;
}

.posision{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);

    margin-bottom: 30px;
}
/* футер */
.footer{
    background-color: var(--hero-background-color);
}

.footer .logo > span{
    color: var(--background-color);
}

address{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: var(--background-color);
}

.footer .contacts-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: rgba(255, 255, 255, 0.6);
}