.advantages{
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    @media screen and (min-width: $desktop){
        justify-content: space-between;
    }

    .item{
        outline: 1px solid black;
        @media screen and (min-width: $mobile) {
            width: 450px;

            &:not(:last-child){
                margin-bottom: 30px;
            }
       }
       @media screen and (min-width: $tablet) {
            margin: 15px;
            width: calc((100% - 30px * 2) / 2);
       }
       @media screen and (min-width: $desktop) {
            width: 270px;
       }

       
    }
    .title,
    .text{
        font-size: 14px;
        line-height: 16px;
    }
    .title{
        font-weight: 700;    
        text-transform: uppercase;
    
        margin-bottom: 10px;
    }
    
    .text{
        font-weight: 400;    
        color: var(--secondary-text-color);
    }
}

.feture-icon {
    @include flexContainer(center);
    margin-bottom: 30px;
  }
  .icon {
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    padding: 25px 102px;
  }

