.advantages{
    display: flex;
    justify-content: space-between;

    .item{
        width: 270px;
    }
    .title,
    .text{
        font-size: 14px;
        line-height: 16px;
    }
    .title{
        font-weight: 700;    
        text-transform: uppercase;
    
        margin-bottom: 10px;
    }
    
    .text{
        font-weight: 400;
    
        color: var(--secondary-text-color);
    }
}

