.footer{
    background-color: var(--hero-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .logo > span{
    color: var(--background-color);
}

address{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: var(--background-color);
}

.footer .contacts-list{
    display: block;
}

.footer .contacts-item:not(:first-child){
    margin-left: 0;
}
.footer .contacts-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: rgba(255, 255, 255, 0.6);
}
