.container.header{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 24px;
    padding-bottom: 25px;

    nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }    

    @media screen and (max-width: 767px) {
        justify-content: space-between;
    }
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    color: var(--accent-color);

    & > span{
        color: var(--logo-color);
    }
}

.nav-list{
    display: flex;
    margin-left: 93px;
}

.nav-item:not(:first-child),
.contacts-item:not(:first-child){
    margin-left: 50px;
}


.contacts-list{
    display: flex; 
    align-items: center;    
    margin-left: auto;
}

.contacts-icon{   
        fill: currentColor;
        margin-right: 10px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link,
.contacts-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.nav-link{
    position: relative;
    color: var(--primary-text-color);
    padding-top: 32px;
    padding-bottom: 32px;

 &:hover,
 &:focus{
    color: var(--accent-color);
  }  

  &.current::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}
}

.contacts-link{
    color: var(--secondary-text-color);

    &:hover,
    &:focus{
        color: var(--accent-color);
    }
}

.menu-btn{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;

    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.icon-close{
    display: none;
}

.menu-btn.is-open .icon-close{
    display: block;
}

.menu-btn.is-open .icon-open{
    display: none;
}

// .mobile-menu{
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 480px;
//     height: 796px;
//     background-color: var(--background-color);
// }