.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--hero-background-color);    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 1),
            (min-resolution: 96dpi),
            (min-resolution: 1dppx) {
    background-image: url('../images/hero/bgImg@1x.jpg');
    }

    @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
    background-image: url('../images/hero/bgImg@2x.jpg');
    }

    @media (min-device-pixel-ratio: 2),
            (min-resolution: 288dpi),
            (min-resolution: 3dppx) {
    background-image: url('../images/hero/bgImg@3x.jpg');
    }


    & .container{
    text-align: center;
}

&-button{
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    padding: 10px 32px;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;    

    color: var(--background-color);
    background-color: var(--background-color);
    
}
}



h1{   
    width: 696px;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--background-color);
}

